@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Work+Sans');

body{
    font-family: 'Work Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Playfair Display', serif;
}

h1{
    font-size: 500%;
}

h2{
    margin: 1% 0;
    text-align: center;
    font-size: 400%;
}

h3{
    font-size: 300%;
}

/* HEADER */
header > nav {
    list-style-type: none;
    margin-right: 5%;
    width: 100%;
}

header > nav > ul{
    background-color: #F0F7EE;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

header > nav > ul > li:first-child{
    margin-left: 5%;
    width: 100%;
    display: block;
}
header > nav > ul > li:not(:first-child){
    border-left: #FFFFFF solid 1px;
    padding: 0.5% 5%;
    display: block;
    transition-duration: 1s;
}

header > nav > ul > li:last-child{
    border-right: #FFFFFF solid 1px;
}

header > nav > ul > li > a{
    text-decoration: none;
    color: #000000;
}

header > nav > ul > li:hover:not(:first-child){
    border-left: #000000 solid 1px;
    background-color: #87BBA2;
}

/* HOMEPAGE */
#home_section1, #home_section2, #home_section3{
    width: 100%;
    display: block;
    margin: 0 auto;
}
#home_section1 > img{
    width: 100%;
}

#home_section1 > h1{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 20%;
}

#home_section1 > p{
    position: absolute;
    top: 35%;
    width: 50%;
    text-align: center;
    margin: 0 25%;
}

#home_section1 > a{
    padding: 1% 2%;
    border-radius: 10px;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
    top: 45%;
    height: 2%;
    width: 10%;
    margin: 0 42.5%;
    background-color: #87BBA2;
    font-size: 90%;
}

#home_section2 > p{
    width: 75%;
    margin: 5% 12.5%;
}

#home_section3 > img{
    width: 75%;
    margin: 5% 12.5%;
}
/* LOGIN */
#login_section1 > form > label, #register_section1 > form > label{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 3% 45%;
}
#login_section1 > form > label > input, #register_section1 > form > input{
    width: 90%;
    margin: 3%;
}
#login_section1 > form > button{
    margin: 1% 47.5%;
    overflow: hidden;
    white-space: nowrap;
}

#register_section1 > form > button{
     margin: 1% 46%;
    overflow: hidden;
    white-space: nowrap;
}

#login_section1 > p:first-child{
    margin-top: 3%;
    text-align: center;
    color: #5D737E;
}

#login_section1 > p:last-child , #register_section1 > p{
    text-align: center;
    margin-bottom: 25%;
}

#login_section1 > p > a, #register_section1 > p > a{
    color: black;
}
/* ACCOUNT */
#account_section1 > img{
    width: 100%;
}
#account_section1 > h2{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 15%;
}

#account_section1 > p{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 30%;
}

#account_section1 > a{
    padding: 1% 2%;
    border-radius: 10px;
    color: #000000;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
    height: 2%;
    width: 10%;
    margin: 0 42.5%;
    background-color: #FDD05F;
    font-size: 90%;
}

#account_section1 > #button1{
    top: 40%;
}
#account_section1 > #button2{
    top: 55%;
}

#account_section1 > form > button{
    position: absolute;
    text-align: center;
    top: 85%;
    margin: 0 47.5%;
    overflow: hidden;
    white-space: nowrap;
}
/* BOOKSHELF */
#bookshelf_section1{
    width: 50%;
    height: 50%;
    margin: 2% 30%;
}
#bookshelf_section1 > a{
    width: 1%;
    text-decoration: none;
    border-bottom: solid #FDD05F 10px;
}
#bookshelf_section1 > a > img{
    display: inline-block;
    border: solid black 1px;

    margin: 0 -0.4%;

}

/* INFO */

#info_section1{
    width: 90%;
    margin: 2% 5%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
#info_section1 > .left{
    align-self: flex-start;
    margin: 2% 5%;
}
#info_section1 > .right{
    align-self: flex-end;
}
#info_section1 > p{
    width: 70%;
    margin: 4% 10%;
}
#info_section1 > img{
    width: 70%;
    height: 90%;
    margin: 2% 10%;
}
#info_section1 > a{
    color: black;
    margin-bottom: 4%;
    width: 80%;
    display: block;
}
#info_section1 > form{
    margin-left: 5%;
}

#info_section1 > form > label > input{
    width: 40%;
    margin: 2% 5%;
    display:block;
}

#info_section1 > form > label > textarea{
    width: 70%;
    height: 200px;
    margin: 2% 5%;
    display: block;
}

#info_section1 > form > button{
    margin: 1% 5%;
}

#info_section1 > span{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#info_section1 > span > a{
    color: black
}
/* FOOTER */
footer{
    background-color: #F0F7EE;
    text-align: center;
    width: 100%;
    bottom: 0;
}

/* RESPONSIVE */
@media only screen and (max-width: 600px) {
    header{
        flex-direction: column;
        height: 1200%;
    }

    header > nav{
        margin: 0 auto;
        position: relative;
    }

    header > nav > ul{
        flex-direction: column;
    }

    header > nav > ul > li{
    border-top: #FFFFFF solid 1px;
    padding: 1% 0;
    }

    header > nav > ul > li > a{
        text-align: center;
        margin: 0 2%;
    }

    #home_section1 > h1{
        position: relative;
        font-size: 300%;
    }
    #home_section1 > p{
        position: relative;
        font-size: 90%;
    }

    #home_section1 > a{
        display: none;
    }
}
