@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Work+Sans');

body{
    font-family: 'Work Sans', sans-serif;
}
h1{
    font-family: 'Playfair Display', serif;
}

/* HEADER */
header{
    background-color: #F0F7EE;
    height: 2em;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header > a{
    margin-left: 5%;
    justify-self: flex-start;
}

header > a > img{
    height: 2em;
}

header > nav {
    list-style-type: none;
    justify-self: flex-end;
    height: 2em;
    margin-right: 5%;
    width: 100%;
}

header > nav > ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: inherit;
}

header > nav > ul > li{
    border-left: #FFFFFF solid 1px;
    padding: 0 5%;
}

header > nav > ul > li:last-child{
    border-right: #FFFFFF solid 1px;
    padding: 0 5%;
}

header > nav > ul > li > a{
    text-decoration: none;
    color: #000000;
    display: block;
    margin: 0.5em 0;
}

header > nav > ul > li:hover{
    border-left: #000000 solid 1px;
    background-color: #87BBA2;
}


/* FOOTER */
footer{
    background-color: #F0F7EE;
    height: 1em;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* RESPONSIVE */
@media only screen and (max-width: 550px) {
    header{
        flex-direction: column;
        height: 12em;
    }

    header > a > img{
        height: 3em;
    }

    header > nav{
        margin: 0 auto;
        height: 7em;
    }

    header > nav > ul{
        flex-direction: column;
    }

    header > nav > ul > li{
    border-top: #FFFFFF solid 1px;
    padding: 1% 0;
    }

    header > nav > ul > li > a{
        text-align: center;
    }
}
