@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Work+Sans');

body{
    font-family: 'Work Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Playfair Display', serif;
}

h1{
    font-size: 500%;
}

h2{
    font-size: 400%;
}

h3{
    font-size: 300%;
}

/* HEADER */
header{
    background-color: #F0F7EE;
    height: 200%;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header > a{
    margin-left: 5%;
    justify-self: flex-start;
}

header > a > img{
    height: 2em;
}

header > nav {
    list-style-type: none;
    justify-self: flex-end;
    margin-right: 5%;
    width: 100%;
    position: absolute;
}

header > nav > ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

header > nav > ul > li{
    border-left: #FFFFFF solid 1px;
    padding: 0.5% 5%;
    display: block;
    transition-duration: 1s;
}

header > nav > ul > li:last-child{
    border-right: #FFFFFF solid 1px;
}

header > nav > ul > li > a{
    text-decoration: none;
    color: #000000;
}

header > nav > ul > li:hover{
    border-left: #000000 solid 1px;
    background-color: #87BBA2;
}

/* HOMEPAGE */
#home_section1, #home_section2, #home_section3{
    width: 100%;
    display: block;
    margin: 0 auto;
}
#home_section1 > img{
    width: 100%;
}

#home_section1 > h1{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 20%;
}

#home_section1 > p{
    position: absolute;
    top: 35%;
    width: 50%;
    text-align: center;
    margin: 0 25%;
}

#home_section1 > a{
    padding: 1% 2%;
    border-radius: 10px;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
    top: 45%;
    height: 2%;
    width: 10%;
    margin: 0 42.5%;
    background-color: #87BBA2;
    font-size: 90%;
}

#home_section2 > p{
    width: 75%;
    margin: 5% 12.5%;
}

#home_section3 > img{
    width: 75%;
    margin: 5% 12.5%;
}

/* ACCOUNT */
#account_section1 > img{
    width: 100%;
}
#account_section1 > h2{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 15%;
}

#account_section1 > a{
    padding: 1% 2%;
    border-radius: 10px;
    color: #000000;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
    height: 2%;
    width: 10%;
    margin: 0 42.5%;
    background-color: #FDD05F;
    font-size: 90%;
}

#account_section1 > #button1{
    top: 40%;
}
#account_section1 > #button2{
    top: 55%;
}

/* INFO */
#info_h2{
    margin: 1% 0;
    text-align: center;
}
#info_section1{
    width: 90%;
    margin: 2% 5%;
}
#info_section1 td{
    padding: 2%;
}

#info_section1 td > a{
    color: black;
    margin-right: 5%;
}

#info_section1 input{
    width: 100%;
    margin: 5% 0;
    padding: 2%;
}

#info_section1 textarea{
    width: 100%;
    height: 200%;
    margin: 2% 0;
}

#info_section1 button{
    margin: 0 50%;
}
/* FOOTER */
footer{
    background-color: #F0F7EE;
    text-align: center;
    width: 100%;
    bottom: 0;
}

/* RESPONSIVE */
@media only screen and (max-width: 600px) {
    header{
        flex-direction: column;
        height: 1200%;
    }

    header > nav{
        margin: 0 auto;
        position: relative;
    }

    header > nav > ul{
        flex-direction: column;
    }

    header > nav > ul > li{
    border-top: #FFFFFF solid 1px;
    padding: 1% 0;
    }

    header > nav > ul > li > a{
        text-align: center;
        margin: 0 2%;
    }

    #home_section1 > h1{
        position: relative;
        font-size: 300%;
    }
    #home_section1 > p{
        position: relative;
        font-size: 90%;
    }

    #home_section1 > a{
        display: none;
    }
}
