{% extends 'base.html' %}

{% block title %}
    Account
{% endblock %}

{% block content %}
    <div id="account_section1">
        <img alt="background image with books" src="{{url_for('static', filename='img/AccountSection1.jpg')}}">
        <h2>Account</h2>
        <p>Welcome, {{firstname}}</p>
        <a id=button1 href={{ url_for("bookshelf") }}>Bookshelf</a>
        <a id=button2 href={{ url_for("borrowedBooks") }}>Borrowed Books</a>
        <form action="{{ url_for('logout') }}" method="POST">
            <button type="submit">Log Out</button>
        </form>

    </div>
{% endblock %}