{% extends 'base.html' %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <div id="home_section1">
        <img alt="background image with books" src="{{url_for('static', filename='img/HomepageSection1.JPG')}}">
        <h1>ShelfChecker</h1>
        <p>Not an ordinary shelf but one that checks the position of its books for you because it is that smart.</p>
        <a href="#jump">More Info</a>
    </div>

    <div id="home_section2">
        <a id="jump"><br></a>
        <p> Welcome to the future! A future where everything is easier. Where you do not have to say the whole alphabet in your head before you can place a book in the right place. A future where you do not have to study by heart in what year a book was published so your books are in the right order. That's all in the past thanks to <span>ShelfChecker</span>! </p>

        <p> <span>ShelfChecker</span> tells you where a book belongs on the shelf. It also gives you feedback on whether you placed the book in the right place. If too much time has passed between scanning the book and placing it on the shelf, it will register it as borrowed. Yes, borrowed! <span>ShelfChecker</span> is actually a tiny library keeping track of the books borrowed by its users. These books can be consulted on this very website! Just log in if you already have a library card, or register if you don't. Happy reading! </p>

    </div>

{% endblock %}