{% extends 'base.html' %}

{% block title %}
    Info
{% endblock %}

{% block content %}
    <h2>Info</h2>

    <div id="info_section1">
        <div class="info">
            <h3 class="left">Who</h3>
            <div class="right">
                <span class="fa fa-user"></span>
                <p>Thank you for your interest in my project. My name is Annelynn, I'm 21 years old and a student New Media and Communication Technology at Howest in Kortrijk, Belgium. In my free time I like to read, as you might have suspected since this project is centered around books! I also love music very much, so I spend quite a lot of time going to concerts. Lastly I like learning new languages, either coding languages or normal languages.</p>
            </div>
        </div>

        <div class="info">
            <h3 class="left">Why</h3>
            <div class="right">
                <span class="fa fa-question"></span>
                <p> This project was created as an assignment for school. Students of New Media and Communication Technology are supposed to create a project to combine all the stuff they have learned in the past year. ShelfChecker is such a project. It combines the newly acquired knowledge in devices, users, connections and data. These four things are at the base of this undergraduate programme.</p>
            </div>
        </div>
        <div class="info">
            <h3 class="left">Where</h3>
            <div class="right">
                <span class="fa fa-map-marker"></span>
                <div>
                    <img  alt="map of Kortrijk" src="{{url_for('static', filename='img/_Map.PNG')}}">
                    <p>8500 Kortrijk, Belgium</p>
                </div>
            </div>
        </div>

        <div class="info">
            <h3 class="left">How</h3>
            <div class="right">
                <span class="fa fa-cogs"></span>
                <a href="http://www.instructables.com">Link to instructable</a>
            </div>
        </div>

        <div class="info">
        <h3 class="left">More Questions?</h3>
            <form method="POST" action="{{ url_for('info') }}">
                <label>Name <input type="text" name="name" placeholder="first name" required></label>
                <label>Email <input type="email" name="email" placeholder="email" required></label>
                <label>Message <textarea name="message" required placeholder="Ask me anything"></textarea></label>
                <button type="submit" formmethod="post">Submit</button>
            </form>
        </div>

        <div class="info">
            <h3 class="left">Social</h3>
            <span><a class="fa fa-linkedin-square" href="https://www.linkedin.com/in/annelynn-pyck-112586145/"></a> <a class="fa fa-wordpress" href="http://student.howest.be/annelynn.pyck/portfolio/"></a> <a class="fa fa-facebook-square" href="https://www.facebook.com/annelynn.pyck"></a></span>
        </div>

    </div>
{% endblock %}