{% extends 'base.html' %}

{% block title %}
    Manual
{% endblock %}

{% block content %}
    <div id="manual_section1">
        <h2>Manual</h2>
        <div class="step">
            <h2>1</h2>
            <p> Follow the instructions on the LCD screen. Scan your library card to log into the system. </p>
            <img src="{{ url_for('static', filename='img/Manual_Step1.JPG') }}">
        </div>

        <div class="step">
            <h2>2</h2>
            <p> When the LCD screen has welcomed you, you can pick a book to scan. </p>
            <img src="{{ url_for('static', filename='img/Manual_Step2.JPG') }}">
        </div>

        <div class="step">
            <h2>3</h2>
            <p> The book is scanned when its name appears on the LCD screen and its place gets shown on the LED strip.</p>
            <img src="{{ url_for('static', filename='img/Manual_Step3.JPG') }}">
        </div>

        <div class="step">
            <h2>4</h2>
            <p> Place the book on the right place and the LED strip will turn green. </p>
            <img src="{{ url_for('static', filename='img/Manual_Step4.JPG') }}">
        </div>

        <div class="step">
            <h2>5</h2>
            <p> However if the book was placed on the wrong place, the LED strip will turn red. Please scan the book again and place it on the right place. </p>
            <img src="{{ url_for('static', filename='img/Manual_Step5.JPG') }}">
        </div>

        <div class="step">
            <h2>6</h2>
            <p> When the LED strip turns blue, it means too much time has passed between scanning the book and placing it on the shelf. The shelf considers this book as borrowed. </p>
            <img src="{{ url_for('static', filename='img/Manual_Step6.JPG') }}">
        </div>

        <div class="step">
            <h2>7</h2>
            <p> You can scan and place as many books as you like, as long as you first scan it before placing it somewhere on the shelf. When you are finished you can log out by scanning your library card again. </p>
            <img src="{{ url_for('static', filename='img/Manual_Step7.JPG') }}">
        </div>

        <input name="button" type="button" value="Print page" onClick='window.print();'/>
    </div>


{% endblock %}
