{% extends 'base.html' %}

{% block title %}
    Register
{% endblock %}

{% block content %}
    <h2>Register</h2>
    <div id="register_section1">
        <form action="{{url_for("register")}}" method="post">
            <label>First Name <input name="firstName" type="text" required autofocus></label>
            <label>Last Name <input name="lastName" type="text" required></label>
            <label>Email <input name="email" type="email" required></label>
            <label>Password <input name="password" type="password" required></label>
            <button type="submit">Create Account</button>
        </form>
        <p>Already registered? Log in <a href="{{url_for("login")}}">here!</a></p>
    </div>
{% endblock %}